<script type="text/javascript">


  // @summary: jquery implementation
  $(function() {
    // @summary: Use the author's flickr ID to load images from the public flickr feed
    //"https://api.flickr.com/services/feeds/photos_public.gne?id={{ .Site.Author.flickrid }}&format=json&jsoncallback=?"
    $.getJSON("https://api.instagram.com/v1/users/self/media/recent/?access_token=3184955442.6ef4ff7.f1744b8c3af540ecaf4c6eddbdde05e3&format=json&jsoncallback=?", function(data) {    	
      iweblog.application.displayImages(data, 8);
    });
  });

/*
  var token = '3184955442.6ef4ff7.f1744b8c3af540ecaf4c6eddbdde05e3', // learn how to obtain it below
    userid = 'self', // User ID - get it in source HTML of your Instagram profile or look at the next example :)
    num_photos = 8; // how much photos do you want to get
 
$.ajax({
	url: 'https://api.instagram.com/v1/users/' + userid + '/media/recent', // or /users/self/media/recent for Sandbox
	dataType: 'jsonp',
	type: 'GET',
	data: {access_token: token, count: num_photos},
	success: function(data){
 		console.log(data);
		for( x in data.data ){
			$('ul').append('<li><img src="'+data.data[x].images.standard_resolution.url+'"></li>'); // data.data[x].images.low_resolution.url - URL of image, 306х306
			// data.data[x].images.thumbnail.url - URL of image 150х150
			// data.data[x].images.standard_resolution.url - URL of image 612х612
			// data.data[x].link - Instagram post URL 
		}
	},
	error: function(data){
		console.log(data); // send the error notifications to console
	}
});
*/

</script>